#con_main p { text-indent:2em;}
#con_main ol,#con_main ul { padding-left:2em; margin-bottom:1em;}

h2.team_list { border-bottom:2px dotted #bababa;}

#designer_site { background-color:#FFFFE0; border:1px solid #bababa; margin:10px 0 2px; padding:0 10px 5px;}