
.divider, .invisibletitle, a.skip {
  display: none;
}

cite {
  font-style: normal;
}

del {
  text-decoration: line-through;
}

address {
  font-style: normal;
}

code {
  font-family: monospace;
}
