#con_main {word-break:break-all;}
#con_main h1 { border-bottom:1px dotted #bababa;}

#con_main h2 { background-color:#f5f5f5;margin-top:0.5em;font-size:medium;border-top:1px solid #bababa;}
a { margin:0 5px;color:#333;}
.css_readme {background-color:#eee;margin:5px 0 2px;}

a.ie,a.ie:visited,.ie { color: #176905;}
a.ns,a.ns:visited,.ns { color:#b8860b;}
a.no,a.no:visited,.no { color:#ff3300;}

#g336x280bottom {padding-left:1em; border-left:1px dotted #bababa; background-color:#fff;}