
BODY {	WORD-BREAK: break-all}

TABLE {
	FONT-SIZE: 12px; COLOR: #000000; WORD-BREAK: break-all
}
SELECT {
	FONT-SIZE: 12px; WIDTH: 200px; FONT-FAMILY: verdana,tahoma,arial
}
A {
	COLOR: #2C990A;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #ff00ff}
A.a1 {
	COLOR: #ffffff
}
A.a1:hover {
	COLOR: #eeeaea
}
A.a2 {
	COLOR: #ffffff
}
A.a2:hover {
	COLOR: #6fb340
}
A.a3 {
	COLOR: #000000
}
#table1 {
	WIDTH: 100%; COLOR: #ffffff; HEIGHT: 25px
}
#td1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #000000; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; FONT-FAMILY: verdana,tahoma,arial; WHITE-SPACE: nowrap; LETTER-SPACING: 2px
}
#td2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #7f4d80; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; WHITE-SPACE: nowrap; LETTER-SPACING: 1px
}
#div1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 12px; PADDING-BOTTOM: 24px; LINE-HEIGHT: 18px; PADDING-TOP: 24px; FONT-FAMILY: verdana,tahoma,arial
}
#div2 {
	PADDING-TOP: 20px; BORDER-BOTTOM: #666666 1px solid
}
#span1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; WIDTH: 254px; LINE-HEIGHT: 24px; FONT-FAMILY: verdana,tahoma,arial
}
.span2 {
	COLOR: #c00000
}
#div3 {
	BORDER-TOP: #000000 1px solid; LINE-HEIGHT: 15px; PADDING-TOP: 8px
}
#span3 {
	FONT-SIZE: 10px
}
.span4 {
	COLOR: #c000c0
}
.ie {
	COLOR: #176905
}
.ns {
	COLOR: #b8860b
}
.no {
	COLOR: #ff3300
}
.wc {
	COLOR: #008000
}

TABLE.meme {
	 BACKGROUND: #000000; FONT-FAMILY: tahoma,verdana,arial
}
TABLE.meme TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #ffffff; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: middle; PADDING-TOP: 6px; TEXT-ALIGN: left
}
TABLE.meme TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #ffffff; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: middle; PADDING-TOP: 6px; TEXT-ALIGN: left
}
TABLE.meme TH {
	BACKGROUND: #fafad2
}

